.slides-container {
	position: relative;
	overflow: hidden;	
}

.slides {
	position: relative;
	width: 100%;
	height: 100%;
}

.slide {
	position: absolute;
	height: 100%;
	width : 100%;
	
	-webkit-transition: 0.75s ease-in-out all;
	transition: 0.75s ease-in-out all;
	opacity: 1;
}

.slide.slide-before {
	left: -100%;
}

.slide.slide-after {
	left: 100%;
}

.slide-bg {
	background-color: black;
	position: absolute;
	width: 100%;
	height: 100%;
}

.slide-ready {
	width: 100%;
	height: 100%;
}

.slide-ready img {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.spinner {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -12px;
	margin-top: -12px;
	color: lightgray;
}

.controls-color {
	background: rgba(0, 0, 0, 0.5);
	opacity: 0.5;
	-webkit-transition: 0.35s linear all;
	transition: 0.35s linear all;
	overflow: hidden;
	cursor: pointer;
}

.controls {
	position: absolute;
	height: 6em;
	width: 12em;
	border-top-left-radius: 6em;
	border-top-right-radius: 6em;
	bottom: 0;
	left: 50%;
	margin-left: -6em;
	text-align: center;
}

.controls i {
	position: absolute;
	width: 24px;
	height: 24px;
	bottom: 1.25em;
	left: 50%;
	margin-left: -12px;
	margin-right: -12px;
	margin-bottom: -12px;
	margin-top: -12px;
	color: white;
	padding: 0;
}

.ephemeral {
	opacity: 0!important;
}

.left-pager {
	position: absolute;
	height: 12em;
	width: 6em;
	left: 0;
	top: 50%;
	margin-top: -6em;
	border-top-right-radius: 6em;
	border-bottom-right-radius: 6em;
}

.left-pager i {
	position: absolute;
	top: 50%;
	height: 24px;
	width: 24px;
	margin-top: -12px;
	margin-right: -12px;
	margin-left: -12px;
	left: 1.25em;
	color: white;
}

.right-pager {
	position: absolute;
	height: 12em;
	width: 6em;
	right: 0;
	top: 50%;
	margin-top: -6em;
	border-top-left-radius: 6em;
	border-bottom-left-radius: 6em;
}

.right-pager i {
	position: absolute;
	top: 50%;
	height: 24px;
	width: 24px;
	margin-top: -12px;
	margin-left: -12px;
	margin-right: -12px;
	right: 1.25em;
	color: white;
}

.closer {
	position: absolute;
	width: 6em;
	height: 6em;
	border-bottom-left-radius: 6em;
	right: 0;
	top: 0;
}

.closer i {
	height: 24px;
	width: 24px;
	margin-top: -12px;
	margin-bottom: -12px;
	margin-left: -12px;
	margin-right: -12px;
	color: white;
	position: absolute;
	top: 1.25em;
	right: 1.25em;
}
