doctype html
html(ng-app='slideshowDemo')
	head
		title Slideshow Demo
		meta(charset='utf-8')
		
		meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
		
		base(href='/')
		link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
		link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css", rel="stylesheet")
		link(href='components/slideshow/mk.slideshow.css', rel='stylesheet')
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-animate.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-touch.min.js')

		script(src='js/app.js')
		script(src='components/slideshow/mk.slideshow.js')

	body(ng-controller='RootCtrl')
		button.btn.btn-default(ng-show="!api.show", ng-click='api.autoPlay=true; api.startIndex=0; api.show=true') Start Slideshow (AutoPLay from offset 0)
		button.btn.btn-default(ng-show="!api.show", ng-click='api.autoPlay=false; api.startIndex=2; api.show=true') Start Slideshow (offset 2, no autoPlay)
		mk-slides(showing-time='1500', auto-play='{{api.autoPlay}}', on-exit='api.show=false', start-index='{{api.startIndex}}', ng-if='api.show')
			mk-slide(ng-repeat='url in urls', url='{{url}}')

