doctype html
html(ng-app='slideshowDemo')
	head
		title Slideshow Demo
		meta(charset='utf-8')
		
		meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
		
		base(href='/')
		
		link(href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
		link(href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css", rel="stylesheet")
		link(href='http://pgmmpk.github.io/mk-slideshow/dist/mk.slideshow.min.css', rel='stylesheet')
		
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-touch.min.js')

		script(src='http://pgmmpk.github.io/mk-slideshow/dist/mk.slideshow.min.js')

		script.
			(function(angular) {
				
				var module = angular.module('slideshowDemo', ['mk.slideshow', 'ngAnimate']);
			
				module.controller('RootCtrl', ['$scope', '$location', function($scope, $location) {
					
					$scope.urls = [
						'http://upload.wikimedia.org/wikipedia/commons/b/b1/Bijilo-Portrait-of-a-Callithrix-Monkey.jpg',
						'http://www.thelostogle.com/wp-content/uploads/2013/12/happy-monkey.jpg',
						'http://www.metalsucks.net/wp-content/uploads/2013/03/superfunnypetmonkey01big.jpg',
						'http://www.newscientist.com/blogs/shortsharpscience/assets_c/2011/07/SelfMonkey-thumb-600x723-131986.jpg',
						'http://intervexion.com/wp-content/uploads/2012/12/monkey.jpg',
						'http://upload.wikimedia.org/wikipedia/commons/0/0d/Northern_Pigtailed_macaque_at_Koh_Lanta_Yai_Monkey_School.JPG'
					];
					
					$scope.toggleSlideshow = function() {
						$scope.slideshow = !$scope.slideshow;
					};
					
					$scope.slideshow = false;
				}]);
				
			})(angular);

	body(ng-controller='RootCtrl')

		button.btn.btn-default(ng-show="!slideshow", ng-click='toggleSlideshow()') Start Slideshow

		mk-slides(showing-time='1500', auto-play='true', on-exit='toggleSlideshow()', ng-if='slideshow')
			mk-slide(ng-repeat='url in urls', url='{{url}}')
